<!DOCTYPE html>

<style>
    .footnote {
        font-size: 12px;
        color: gray;
        margin-top: 5px;
    }
</style>

<html>
<head>
    <title>Génération de devis</title>
</head>
<body>
    <h1>Génération de devis</h1>
    <form method="post" action="">
        {% csrf_token %}
        <label for="nomPrestation">Nom prestation :</label>
        <input type="text" name="nomPrestation">
        <br>
        <label for="lieuPrestation">Lieu prestation :</label>
        <input type="text" name="lieuPrestation">
        <br>
        <label for="debPrestation">Début prestation :</label>
        <input type="text" name="debPrestation">
        <span class="footnote">(Ce champ est facultatif)</span>
        <br>
        <label for="finPrestation">Fin prestation :</label>
        <input type="text" name="finPrestation">
        <span class="footnote">(Ce champ est facultatif)</span>
        <br>
        <label for="vente">Id du devis :</label>
        <select name="vente">
            {% for vente in ventes %}
                <option value="{{ vente.id }}">{{ vente.id_bid }}</option>
            {% endfor %}
        </select>
        <br>
        <button type="submit">Générer</button>
    </form>
</body>
</html>