{% load static %}

<html>
<head>
    <title>Bid generation</title>
    <link rel="stylesheet" href="{% static 'devis/style.css' %}">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body>
    <h1>Bid generation</h1>
    <form method="post" action="">
        {% csrf_token %}
        <label for="Commande">Id du devis :</label>
        <select id="Commande" onchange="loadArticles(); updateHiddenField()">
            <option value = ""></option>
            {% for comm in commande %}
                <option value="{{ comm.billing_id }}">{{ comm.billing_id }}</option>
            {% endfor %}
        </select>
        <input type="hidden" id="selected_value" name="selected_value" value="">
        <br>
        <label for="articles-list">Article :</label>
        <div id="articles-list">
        </div>
        <br>
        <label id="nomPrestation">Prestation name :</label>
        <input type="text" name="nomPrestation">
        <br>
        <label id="lieuPrestation">Prestation place :</label>
        <input type="text" name="lieuPrestation">
        <br>
        <label id="debPrestation">Prestation starts :</label>
        <input type="text" name="debPrestation">
        <span class="footnote">(Can be left empty)</span>
        <br>
        <label id="finPrestation">Prestation ends :</label>
        <input type="text" name="finPrestation">
        <span class="footnote">(Can be left empty)</span>
        <br>
        <label id="Deposit">Deposit :</label>
        <input type="text" name="Deposit">
        <br>
        <button type="submit">Generate</button>
    </form>
    <script>
        function updateHiddenField() {
            var selectedValue = document.getElementById("Commande").value;
            console.log(selectedValue);
            document.getElementById("selected_value").value = selectedValue;
        }
    </script>
    <script>
        function loadArticles() {

            const articlesContainer = document.getElementById('articles-list');
            const selectedBillingId = document.getElementById('Commande').value;
            articlesContainer.innerHTML = '';

            $.ajax({
                url: '/devis/',
                type: 'GET',
                data: {billing_id: selectedBillingId},
                success: function(response) {
                    const articles = response.articles;
                    if (articles) {
                        for (const article of articles) {
                            const articleDiv = document.createElement('div');

                            const nameSpan = document.createElement('span');
                            if (article.value){
                                nameSpan.textContent = `Pack ${article.name} `;
                            }
                            else{
                                nameSpan.textContent = `${article.name} `;
                            }

                            const discountInput = document.createElement('input');
                            discountInput.type = 'number';
                            discountInput.min = 0;
                            discountInput.max = 100;
                            discountInput.step = "any";
                            discountInput.setAttribute('placeholder', 'Discount-%');
                            discountInput.name = `discount_${article.id}`;

                            const coeffInput = document.createElement('input');
                            coeffInput.type = 'number';
                            coeffInput.min = 0;
                            coeffInput.max = 100;
                            coeffInput.step = "any";
                            coeffInput.setAttribute('placeholder', 'Coeff');
                            coeffInput.name = `coeff_${article.id}`;

                            articleDiv.appendChild(nameSpan);
                            articleDiv.appendChild(coeffInput);
                            articleDiv.appendChild(discountInput);

                            articlesContainer.appendChild(articleDiv);
                        }
                    } else {
                        articlesContainer.textContent = 'No article found';
                    }
                },
                error: function(error) {
                    console.error('AJAX error: ', error);
                }
            });
        }

    </script>
</body>
</html>