{% load static %}

<html>
<head>
    <title>Bid generation</title>
    <link rel="stylesheet" href="{% static 'devis/style.css' %}">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="{% static 'devis/fun.js' %}"></script>
</head>
<body>
    <h1>Bid generation</h1>
    <form method="post" action="">
        {% csrf_token %}
        <label for="Commande">Id du devis :</label>
        <select id="Commande" onchange="loadArticles()">
            <option value = ""></option>
            {% for comm in commande %}
                <option value="{{ comm.billing_id }}">{{ comm.billing_id }}</option>
            {% endfor %}
        </select>
        <br>
        <label for="articles-list">Article :</label>
        <div id="articles-list">
        </div>
        <br>
        <label id="nomPrestation">Prestation name :</label>
        <input type="text" name="nomPrestation">
        <br>
        <label id="lieuPrestation">Prestation place :</label>
        <input type="text" name="lieuPrestation">
        <br>
        <label id="debPrestation">Prestation starts :</label>
        <input type="text" name="debPrestation">
        <span class="footnote">(Can be left empty)</span>
        <br>
        <label id="finPrestation">Prestation ends :</label>
        <input type="text" name="finPrestation">
        <span class="footnote">(Can be left empty)</span>
        <br>
        <label id="Acompte">Acompte :</label>
        <input type="text" name="Acompte">
        <br>
        <button type="submit">Generate</button>
    </form>
</body>
</html>